/* My Background section */
.myBackground {
    color: #ffffff; 
    padding: 2rem;
    text-align: center;
}

.myBackground h1 {
    margin-bottom: 1rem; /* Space below the main heading */
}

.myBackground h2 {
    margin: 1rem 0; /* Space around subheadings */
}

.myBackground p {
    margin: 1rem 0; /* Space around paragraph */
}
