/* Reset margins and global styles */
body, html, h1, p, form, input, textarea, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Ensure scrolling behavior for snapping */
html {
  scroll-snap-type: y mandatory; /* Enable vertical scroll snapping */
  scroll-behavior: smooth; /* Smooth scrolling */
  height: 100%; /* Full height for proper scrolling */
  overflow-y: scroll; /* Enable vertical scrolling */
}

body {
  margin: 0;
  line-height: 1.5;
  background-color: #07203e; 
}

/* Section styling */
section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start; /* Snap each section to the start */
  color: #fff; /* White text color for sections */
  padding: 10rem;
}
