/* Global Reset */
body, html, h1, p, form, input, textarea, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Adjust margin for main content to make space for the fixed left/right nav */
main {
  margin-left: 4rem; /* Adjust this value to create space for your nav */
  padding: 1rem; /* Optional: Add padding for better spacing */
}

/* Mobile adjustment for main content */
@media (max-width: 768px) {
  main {
    margin-left: 0; /* Remove margin for smaller screens */
    padding: 1rem; /* Ensure proper spacing */
  }
}

/* Smooth Scrolling */
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100%;
  overflow-y: scroll;
}

body {
  margin: 0;
  line-height: 1.6;
  color: #ffffff; /* Dark purple text color */
  background-color: #093257; /* Consistent with the rest of the theme */
}

/* Smooth scrolling for anchor links */
a[href^="#"] {
  scroll-behavior: smooth;
}
